# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
  - task: CmdLine@2
    inputs:
      script: |
        cd src/socket.io
        npm install
        npm run install
        nohup npm start &
  - task: DotNetCoreCLI@2
    inputs:
      command: 'test'
      projects: 'src/SocketIOClient.UnitTest.csproj'
  - task: DotNetCoreCLI@2
    inputs:
      command: 'test'
      projects: 'src/SocketIOClient.IntegrationTests.csproj'
