<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="4.0.2" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="YamlDotNet" version="16.3.0" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="3.0.0-beta2" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="2.0.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="2.0.2" targetFramework="net472" />
  <package id="Azure.Core" version="1.50.0" targetFramework="net472" />
  <package id="Azure.Monitor.OpenTelemetry.Exporter" version="1.6.0-beta.2" targetFramework="net472" />
  <package id="FluentAssertions" version="8.8.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="10.0.2" targetFramework="net472" />
  <package id="System.ClientModel" version="1.8.1" targetFramework="net472" />
  <package id="System.Memory.Data" version="10.0.2" targetFramework="net472" />
  <package id="System.Text.Json" version="10.0.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="4.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="10.0.2" targetFramework="net472" />
  <package id="OpenTelemetry" version="1.14.0" targetFramework="net472" />
  <package id="OpenTelemetry.Extensions.Hosting" version="1.14.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="OpenTelemetry.Api.ProviderBuilderExtensions" version="1.14.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="10.0.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="18.0.1" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="7.0.1" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="10.0.2" targetFramework="net472" />
  <package id="OpenTelemetry.Api" version="1.14.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="10.0.2" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="MSTest.Analyzers" version="4.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.AdapterUtilities" version="18.0.1" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="2.0.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform" version="2.0.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="2.0.2" targetFramework="net472" />
  <package id="NetEscapades.Configuration.Yaml" version="3.1.0" targetFramework="net472" />
  <package id="OpenTelemetry.PersistentStorage.Abstractions" version="1.0.2" targetFramework="net472" />
  <package id="OpenTelemetry.PersistentStorage.FileSystem" version="1.0.2" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
</packages>