@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script>
        var socket = io(`http://localhost:11000/`, {
            //path: "/path",
            transports: ["websocket"],
            query: {
                token: "io"
            },
            //key: fs.readFileSync("cert/client1-key.pem").toString(),
            //cert: fs.readFileSync("cert/client1-crt.pem").toString(),
            //ca: fs.readFileSync("cert/ca-crt.pem").toString(),
            timeout: 5000,
        });

        socket.on("connect", () => {
            console.log(`socket.connected: ${socket.connected}`);

            socket.on("disconnect", reason => {
                console.log(`disconnect: ${reason}`);
            });

            socket.on("hi", message => {
                console.log(`server: ${message}`);
            });

            socket.emit("hi", "doghappy");

            socket.on("client message callback", (msg, cb) => {
                console.log(msg);
                cb("cb()");
            });
            socket.emit("client message callback", "SocketIOClient.Web");

            var bufArr = new ArrayBuffer(4);
            var bufView = new Uint8Array(bufArr);
            bufView[0] = 6;
            bufView[1] = 7;
            bufView[2] = 8;
            bufView[3] = 9;

            socket.on("client binary callback", (msg, cb) => {
                console.log(msg);
                cb("cb()");
            });
            socket.emit("client binary callback", "SocketIOClient.Web");
        });
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
